.resultItem {
    border-bottom: 1.3px solid var(--color-light-gray) !important;
    padding: 1.5rem 0;
}

.title {
    font-weight: 500 !important;
    font-size: 14pt;
    color: var(--color-primary-darker) !important;
    display: flex;
    align-items: center;
}

.title:hover {
    text-decoration: underline !important;
}