.tag-container {
    max-width: 700px;
    width: 100vw;
    z-index: 999;
}
.data-info {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    padding: 5px 0px;
    max-width: 49% !important;
}
.actions {
    display: flex;
    max-width: 100%;
    justify-content: end;
}
.action {
    display: flex;
    align-items: center;
    background: #253861;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 5px;
}
.actionText {
    margin-left: 5px !important;
    color: #fff;
    font-size: 14px;
}
.dataTitle {
    color: #253761;
    font-size: 16px;
    font-weight: bold;
}
.tags {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.tagList {
    display: flex;
}
.singleTag {
    display: flex;
    align-items: center;
    background: #e7e7e7;
    padding: 5px 10px;
    border-radius: 15px;
    max-width: 130px;
    width: 100%;
    margin-right: 5px;
}
.singleTagText {
    font-size: 14px;
    color: #253761;
}
.attribute {
    font-size: 12px;
    color: #253761;
    margin: 5px;
}
.attributeValue {
    font-size: 12px;
    color: #253761;
    margin: 5px;
    text-transform: lowercase;
}