.resultItem {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.resultItem .optionsDropdownWrapper{
    visibility: hidden;
}

.resultItem:hover .optionsDropdownWrapper{
    visibility: initial;
}

.title {
    font-weight: 500 !important;
    font-size: 13.5pt;
    display: flex;
    color: var(--color-primary) !important;
    align-items: center;
}

.title:hover {
    text-decoration: underline !important;
}

.resultViewTypeTabs{
    display: flex;
}


.resultViewTypeTabs span{
    display: flex;
    border: 1.5px solid transparent;
}

.resultViewTypeTabs .active{
    border-bottom: 1.5px solid var(--color-primary);
    transition: border-color .35s ease
}