.resultItem {
    border-top: 1.3px solid var(--color-light-gray) !important;
    border-bottom: 1.3px solid var(--color-light-gray) !important;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title {
    font-weight: 600 !important;
    font-size: 13.5pt;
    color: var(--color-primary-darker) !important;
    display: flex;
    align-items: center;
}

.title:hover {
    text-decoration: underline !important;
}