@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --color-primary: #005c91;
  --color-primary-lighter: #007cbf;
  --color-primary-darker: #253761;
  --color-primary-hover: #16213b;
  --color-text: #1e1f21;
  --color-text-lighter: #4C4D4E;
  --color-body-background: #ffffff;
  --color-main-background: #fff;
  --color-light-gray: #F2F2F2;
  --color-darker-gray: #D9D9D9;
  --color-danger: #FF3FFF;
  --color-success: #20c996aa !important;
  --toastify-color-success: #004f7a !important;
}

a {
  text-decoration: none !important;
  color: var(--color-text) !important;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  border-color: transparent !important;
}

.bold {
  font-weight: bold !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.main-content-wrapper {
  margin-top: 110px;
}

*:focus {
  box-shadow: none !important;
}

body {
  background-color: var(--color-body-background) !important;
  margin: 0;
  padding: 0;
  color: var(--color-text) !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.nav-link {
  color: var(--color-text) !important;
}

.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover) !important;
  border-color: var(--color-primary-hover) !important;
}

.btn-outline-primary {
  border-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary.active {
  background-color: var(--color-primary) !important;
  color: #fff !important;
}

.medium {
  font-size: 11pt !important;
}

.small {
  font-size: 12.3px !important;
}

.txt-primary {
  color: var(--color-primary) !important;
}

.txt-lighter {
  color: var(--color-text-lighter) !important;
}

.txt-primary-darker {
  color: var(--color-primary-darker);
}

.txt-danger {
  color: var(--color-danger) !important;
}

.bgc-primary-lighter {
  background-color: var(--color-primary-lighter) !important;
}

.bgc-success {
  background-color: var(--color-success) !important;
}

.bgc-danger {
  background-color: var(--color-danger) !important;
}

.bgc-primary {
  background-color: var(--color-primary) !important;
}

.bg-primary-darker {
  background-color: var(--color-primary-darker);
}

.rounded-lg {
  border-radius: 1.4rem !important;
}

.form-control {
  border: 1px solid #E4E6E8 !important;
  background: transparent !important;
  transition: border-color 0.3s ease;
  padding-top: .6rem !important;
  padding-bottom: .6rem !important;
}

.form-control:focus {
  border-color: var(--bs-secondary) !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}


hr {
  border-top: 2px solid var(--color-light-gray) !important;
  opacity: 1 !important;
}


p {
  margin-bottom: .3rem !important;
}

.nav-tabs {
  white-space: nowrap !important;
  flex-wrap: nowrap !important;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
}

p.two-words::after {
  content: "\A";
  white-space: pre;
}

.nav-tabs .nav-link {
  font-size: 9.5pt !important;
  text-align: left !important;
  padding-left: .5rem !important;
  border: 0 !important;
  background-color: transparent !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  color: var(--color-primary-lighter) !important;
}

.hover:hover {
  background-color: var(--color-light-gray);
}

.hover-lg:hover {
  background-color: #00000011 !important;
}

.table td,
.table th {
  padding: .5rem .3rem !important;
  font-size: 10.8pt !important;
  border: none !important;
}

.table th {
  font-weight: 500 !important;
}


.table-bordered>:not(caption)>* {
  border-color: var(--color-light-gray) !important;
}

.dt-info {
  color: var(--color-text-lighter) !important;
}

.btn {
  white-space: nowrap !important;
}

.btn-basic {
  background-color: var(--color-light-gray) !important;
}

.btn-basic:hover {
  background-color: var(--color-darker-gray) !important;
}

.pointer {
  cursor: pointer;
}

.next::marker,
.previous::marker {
  list-style: none !important;
}

.pagination-btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.selected .pagination-btn,
.pagination-btn:hover {
  color: var(--color-primary-lighter) !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.modal-content {
  border: none !important
}

.active>.page-link,
.page-link.active {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.form-check-input:checked {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.rc-slider-track,
.rc-slider-tracks {
  background-color: var(--color-primary) !important;
}

.rc-slider-handle {
  border-color: var(--color-primary) !important;
  border-radius: 0 !important;
  width: 1px !important;
}

.w-33 {
  width: 33.33%;
}

.dropdown-item:active {
  background-color: var(--color-primary) !important;
  color: white !important;
}

div.dt-container div.dt-search input {
  border-radius: .8rem !important;
  border: 1px solid var(--color-darker-gray) !important;
}

.dataset-attribute-tabs {
  display: flex;
  justify-content: space-between;
}

.dataset-attribute-tabs .nav-item {
  white-space: break-spaces !important;
  display: flex;
  align-items: end;
}

.dataset-attribute-tabs .nav-item .nav-link>span {
  display: flex;
  width: min-content;
  flex-wrap: wrap;
  white-space: break-spaces;
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
  opacity: .5 !important;
}

table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
  opacity: 1 !important;
}

.form-control-sm {
  padding: .4rem .5rem !important;
}

.navIconModalToggleWrapper {
  border-radius: 50%;
  border: 1px solid var(--color-darker-gray);
  position: relative;
  width: 45px !important;
  height: 45px !important;
  background-color: transparent !important;
  cursor: 'pointer'
}

.card {
  border: none;
  border-radius: 1.3rem !important;
  background-color: white !important;
}

.card-img-top {
  border-top-left-radius: 1.3rem !important;
  border-top-right-radius: 1.3rem !important;
  width: 100% !important;
  object-fit: cover;
  overflow: hidden;
}

.attribute-item-wrapper {
  height: 510px;
  overflow-y: auto;
  overflow-x: hidden;
}

.asset-processing-status {
  border-radius: 1.2rem;
  border: 1px solid;
  white-space: nowrap !important;
  padding: .15rem .3rem;
  font-size: 8pt;
}

.asset-processing-status.warning {
  background-color: rgba(248, 255, 173, 0.408);
  border-color: rgba(248, 255, 173, 0.627);
}

.asset-processing-status.danger {
  background-color: rgba(255, 175, 175, 0.408);
  border-color: rgba(255, 175, 175, 0.627)
}

.asset-processing-status.success {
  background-color: rgba(167, 255, 189, 0.408);
  border-color: rgba(167, 255, 189, 0.568);
}

.asset-processing-status.primary {
  background-color: rgba(159, 220, 255, 0.408);
  border-color: rgba(159, 220, 255, 0.599);
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: -300px !important;
  transition: top 0.5s ease;
}

.header-container.visible {
  top: 0 !important;
}

.border-light {
  border: 1px solid var(--color-light-gray) !important;
}