:root {
  --color-primary-darker: #181a30;
  --color-primary: #4D81F1;
  --color-primary-hover: #4879e0;
  --color-text: #1e1f21;
  --color-text-lighter: #4C4D4E;
  --color-body-background: #fafafa;
  --color-main-background: #fff;
  --color-light-gray: #eaeaea;
  --color-darker-gray: #d5d5d5;
}

.dark-mode {
  --color-text: white;
  --color-text-lighter: #a5b0b9;
  --color-body-background: #13151c;
  --color-main-background: #1c1f28;
}


a{
  text-decoration: none !important;
  color: var(--color-primary-darker) !important;
}

.bold {
  font-weight: bold;
}

.fw-500 {
  font-weight: 500 !important;
}

*:focus {
  box-shadow: none !important;
}

body {
  background-color: var(--color-body-background) !important;
  margin: 0;
  padding: 0;
  color: var(--color-text) !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.nav-link {
  color: var(--color-text) !important;
}

.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover) !important;
}


.medium {
  font-size: 11pt !important;
}

.small {
  font-size: 11.5px !important;
}

.txt-primary {
  color: var(--color-primary) !important;
}

.txt-primary-darker{
  color: var(--color-primary-darker);
}

.bg-primary{
  background-color: var(--color-primary);
}

.bg-primary-darker{
  background-color: var(--color-primary-darker);
}

.rounded-lg {
  border-radius: 1.5rem !important;
}

.form-control {
  border: 1.5px solid #E4E6E8 !important;
  background: transparent !important;
  transition: border-color 0.3s ease;
  padding-top: .6rem !important;
  padding-bottom: .6rem !important;
}

.form-control:focus {
  border-color: var(--bs-secondary) !important;
}

.main-content-wrapper {
  min-height: 90vh;
  padding-top: 122px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}


hr {
  border-top: 2px solid var(--color-light-gray) !important;
  opacity: 1 !important;
}


p {
  margin-bottom: .3rem !important;
}

.nav-tabs {
  white-space: nowrap !important;
  flex-wrap: nowrap !important;
  overflow: auto;
  overflow-y: hidden;  
  -ms-overflow-y: hidden;
}

.nav-tabs .nav-link {
  font-size: 9.5pt !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none !important;
  background-color: transparent !important;
  color: var(--color-text) !important;
  font-weight: 500 !important;
}

.hover:hover {
  background-color: var(--color-light-gray);
}

.hover-lg:hover {
  background-color: #00000011 !important;
}

::-webkit-scrollbar {
  height: 6px;              /* height of horizontal scrollbar */
  width: 10px;               /* width of vertical scrollbar */
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c6c6c6;
  border-radius: 2rem;
}

.table td, .table th{
  padding: .3rem .3rem !important;
  font-size: 10.2pt !important;
}

.btn-basic{
  background-color: var(--color-light-gray) !important;
}

.pointer{
  cursor: pointer;
}