@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --color-primary: #006aac;
  --color-primary-lighter: #43acff;
  --color-primary-darker: #005387;
  --color-primary-hover: #005b93;
  --color-text: #1b1b1b;
  --color-text-lighter: #4c4d4e;
  --color-body-background: #fff;
  --color-oposite: #202123;
  --color-oposite-lighter: #37383b;
  --color-light-gray: #f2f2f2;
  --color-darker-gray: #d9d9d9;
  --color-danger: #da5778;
  --color-success: #20c996aa !important;
  --toastify-color-success: #20c996 !important;
  --search-bar-color: #ecedef;
  --search-bar-hover-color: #e8e9ea;
  --header-color: #fff;
  --footer-color: #ededed;
  --content-over-widget-color: #fff;
  --skeleton-loader-color-0: #00000011;
  --skeleton-loader-color-100: #00000019;
  --sidebar-background: #f6f6f6;
  --sidebar-width: 275px;
  --nav-link-hover-background: #00000011;
}

.dark-mode {
  --color-primary: #5ac0ff;
  --color-text: white;
  --color-text-lighter: #a5b0b9;
  --color-body-background: #1e2125;
  --color-oposite: #fff;
  --color-oposite-lighter: #dadada;
  --color-light-gray: #2f3033;
  --search-bar-color: #37383b;
  --search-bar-hover-color: #494a4e;
  --header-color: #171a1d;
  --footer-color: #171a1d;
  --content-over-widget-color: #2a2e32;
  --skeleton-loader-color-0: #ffffff11;
  --skeleton-loader-color-100: #ffffff19;
  --sidebar-background: #202123;
  --nav-link-hover-background: #ffffff11;
}

#sidebar.active {
  --sidebar-width: 0;
  margin-left: calc(0px - 275px);
}

a {
  text-decoration: none !important;
  color: var(--color-primary);
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent !important;
}

.bold {
  font-weight: bold !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.w-fit {
  width: fit-content !important;
}

.main-content-wrapper {
  margin-top: 75.7px;
  padding-top: 45px;
  max-height: calc(100vh - 75.7px);
  overflow: auto;
}

.content-scrollable {
  max-height: calc(100vh - 75.7px);
  overflow: auto;
  margin-top: 75.7px;
  padding-top: 45px;
}

*:focus {
  box-shadow: none !important;
}

body {
  background-color: var(--color-body-background) !important;
  margin: 0;
  padding: 0;
  color: var(--color-text) !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

p,
.large,
.regular {
  line-height: 1.85rem !important;
}

.navbar .nav-link {
  /* color: var(--color-text-lighter) !important; */
  font-size: 14px !important;
}

.nav-link {
  color: var(--color-text) !important;
}

.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover) !important;
  border-color: var(--color-primary-hover) !important;
}

.btn-outline-primary {
  border-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary.active {
  background-color: var(--color-primary) !important;
  color: #fff !important;
}

.btn-hover:hover {
  background-color: var(--color-light-gray) !important;
  border-radius: 0.6rem;
}

.btn-contrast {
  background-color: var(--color-oposite) !important;
  color: var(--color-body-background) !important;
}

.btn-contrast:hover {
  background-color: var(--color-oposite-lighter) !important;
}

.large {
  font-size: 13pt !important;
}

.regular {
  font-size: 12pt !important;
}

.medium {
  font-size: 11pt !important;
}

.small {
  font-size: 12.3px !important;
}

.txt-primary {
  color: var(--color-primary) !important;
}

.txt-regular {
  color: var(--color-text) !important;
}

.txt-lighter {
  color: var(--color-text-lighter) !important;
}

.txt-primary-darker {
  color: var(--color-primary-darker);
}

.txt-danger {
  color: var(--color-danger) !important;
}

.txt-primary-lighter {
  color: var(--color-primary-lighter) !important;
}

.bgc-primary-lighter {
  background-color: var(--color-primary-lighter) !important;
}

.bgc-success {
  background-color: var(--color-success) !important;
}

.bgc-danger {
  background-color: var(--color-danger) !important;
}

.bgc-primary {
  background-color: var(--color-primary) !important;
}

.bg-primary-darker {
  background-color: var(--color-primary-darker);
}

.bgc-body {
  background-color: var(--color-body-background) !important;
}

.bgc-light-gray {
  background-color: var(--color-light-gray) !important;
}

.rounded-lg {
  border-radius: 1.4rem !important;
}

.form-control {
  border: 1px solid #e4e6e8 !important;
  background: transparent !important;
  transition: border-color 0.3s ease;
  color: var(--color-text) !important;
}

.form-control:focus {
  border-color: var(--bs-secondary) !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

::placeholder {
  color: var(--color-text-lighter) !important;
  opacity: 1;
}

hr {
  border-top: 2px solid var(--color-light-gray) !important;
  opacity: 1 !important;
}

p {
  margin-bottom: 0.3rem !important;
}

.nav-tabs {
  white-space: nowrap !important;
  flex-wrap: nowrap !important;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
}

p.two-words::after {
  content: "\A";
  white-space: pre;
}

#settingsModal .nav-tabs .nav-link {
  font-size: 9.5pt !important;
  text-align: left !important;
  padding-left: 0.5rem !important;
  border: 0 !important;
  background-color: transparent !important;
}

#settingsModal .nav-item:hover,
#settingsModal .nav-item.active {
  background-color: #00000011 !important;
}

.table > :not(caption) > * > * {
  background: transparent !important;
  color: var(--color-text) !important;
}

.nav-tabs .nav-link {
  font-size: 9.5pt !important;
  text-align: left !important;
  padding-left: 0.5rem !important;
  border: 0 !important;
  background-color: transparent !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  color: var(--color-primary) !important;
}

.hover:hover {
  background-color: var(--color-light-gray);
}

.hover-lg:hover {
  background-color: #00000011 !important;
}

.table td,
.table th {
  padding: 0.9rem 0.3rem !important;
  font-size: 10pt !important;
  border: none !important;
}

.table th {
  font-weight: 500 !important;
}

.table-bordered > :not(caption) > * {
  border-color: var(--color-light-gray) !important;
}

.dt-info {
  color: var(--color-text-lighter) !important;
}

.btn {
  white-space: nowrap !important;
}

.btn-basic {
  background-color: var(--color-light-gray) !important;
  color: var(--color-text) !important;
}

.btn-basic:hover {
  background-color: var(--color-darker-gray) !important;
}

.pointer {
  cursor: pointer;
}

.next::marker,
.previous::marker {
  list-style: none !important;
}

.pagination-btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.selected .pagination-btn,
.pagination-btn:hover {
  color: var(--color-primary-lighter) !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.modal-content {
  color: unset !important;
  border: none !important;
  background-color: var(--content-over-widget-color) !important;
}

.active > .page-link,
.page-link.active {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.form-check-input:checked {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.rc-slider-track,
.rc-slider-tracks {
  background-color: var(--color-primary) !important;
}

.rc-slider-handle {
  border-color: var(--color-primary) !important;
  border-radius: 0 !important;
  width: 1px !important;
}

.w-33 {
  width: 33.33%;
}

.dropdown-item {
  color: var(--color-text) !important;
  padding: 0.48rem 1rem;
}

.dropdown-item:hover,
.dropdown-item.active {
  background-color: var(--color-light-gray) !important;
}

div.dt-container div.dt-search input {
  border-radius: 0.8rem !important;
  border: 2px solid var(--color-light-gray) !important;
}

div.dt-container div.dt-search label {
  color: var(--color-text-lighter) !important;
}

.dataset-attribute-tabs {
  display: flex;
}

.dataset-attribute-tabs .nav-item {
  white-space: break-spaces !important;
  display: flex;
  align-items: end;
}

.dataset-attribute-tabs .nav-item .nav-link > span {
  display: flex;
  width: min-content;
  flex-wrap: wrap;
  white-space: break-spaces;
}

table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
  opacity: 0.5 !important;
}

table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
  opacity: 1 !important;
}

table.dataTable thead > tr > th.dt-orderable-asc,
table.dataTable thead > tr > th.dt-orderable-desc,
table.dataTable thead > tr > th.dt-ordering-asc,
table.dataTable thead > tr > th.dt-ordering-desc,
table.dataTable thead > tr > td.dt-orderable-asc,
table.dataTable thead > tr > td.dt-orderable-desc,
table.dataTable thead > tr > td.dt-ordering-asc,
table.dataTable thead > tr > td.dt-ordering-desc {
  position: relative;
  padding-right: 30px !important;
}

.table.dataTable th.dt-type-numeric {
  text-align: left !important;
}

.form-control-sm {
  padding: 0.4rem 0.5rem !important;
}

.navIconModalToggleWrapper {
  border-radius: 50%;
  border: 1px solid var(--color-darker-gray);
  position: relative;
  width: 45px !important;
  height: 45px !important;
  background-color: transparent !important;
  cursor: "pointer";
}

.card {
  border-radius: 1.2rem !important;
  border: 1.5px solid var(--color-light-gray) !important;
  background-color: transparent !important;
  color: unset !important;
}

.card-img-top {
  border-top-left-radius: 1.3rem !important;
  border-top-right-radius: 1.3rem !important;
  width: 100% !important;
  object-fit: cover;
  overflow: hidden;
}

.attribute-item-wrapper {
  height: 510px;
  overflow-y: auto;
  overflow-x: hidden;
}

.asset-processing-status {
  border-radius: 0.5rem;
  border: 1px solid;
  white-space: nowrap !important;
  padding: 0.15rem 0.3rem;
  font-size: 7.5pt;
}

.asset-processing-status.warning {
  /* background-color: rgba(248, 255, 173, 0.408); */
  border-color: rgb(255, 234, 0);
}

.asset-processing-status.danger {
  /* background-color: rgba(255, 175, 175, 0.408); */
  border-color: rgba(255, 175, 175);
}

.asset-processing-status.success {
  /* background-color: rgba(167, 255, 189, 0.408); */
  border-color: rgba(167, 255, 189);
}

.asset-processing-status.primary {
  /* background-color: rgba(159, 220, 255, 0.408); */
  border-color: rgba(159, 220, 255);
}

.header-container {
  position: fixed;
  width: 100vw;
  z-index: 999;
  top: -300px !important;
  transition: top 0.5s ease;
}

.header-container.visible {
  top: 0 !important;
}

.border-lighter {
  border: 1px solid var(--color-light-gray) !important;
}

ul.custom-list {
  list-style-type: none;
  padding: 0;
}

ul.custom-list li::before {
  content: "\25CF";
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

table.table.dataTable > :not(caption) > * > * {
  background-color: transparent !important;
}

#settingsModal .nav-item.active,
#settingsModal .nav-item.active .nav-link,
#settingsModal .nav-item:hover,
#settingsModal .nav-item:hover .nav-link {
  color: #1e1f21 !important;
  color: var(--color-text) !important;
}

#settingsModal .nav-item .nav-link {
  color: #5d5e5f;
  color: var(--color-text-lighter);
  padding-bottom: 0.42rem;
  padding-top: 0.42rem;
  width: 100%;
}

/* Switch styles */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-primary);
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.card-body {
  color: unset !important;
}

.spinner-border {
  border: var(--bs-spinner-border-width) solid var(--color-text) !important;
  border-right-color: transparent !important;
}

.spinner-border.text-light {
  border: var(--bs-spinner-border-width) solid #fff !important;
}

.dropdown-menu {
  background-color: var(--content-over-widget-color) !important;
  color: var(--color-text) !important;
}

.dropdown-menu-end {
  right: 0 !important;
  left: unset !important;
  border: none !important;
  box-shadow: var(--bs-box-shadow);
}

/* 
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-body-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-darker-gray);
  border-radius: 1rem;
}

.pointy-dropdown::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent var(--color-light-gray) transparent;
  z-index: 1;
}

.bone {
  border-radius: 0.6rem;
  animation: 0.3s linear infinite alternate skeleton-loading;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--skeleton-loader-color-0);
  }

  100% {
    background-color: var(--skeleton-loader-color-100);
  }
}

.bone-image {
  height: 185px;
  width: 100%;
}

.bone-text-short,
.bone-title {
  height: 23px;
  margin-bottom: 1rem;
}

.bone-title {
  width: 100%;
}

.bone-description {
  width: 100%;
  height: 70px;
}

.bone-text-short {
  width: 75%;
}

.breadcrumb {
  margin-bottom: 0 !important;
}

.breadcrumb-item {
  font-size: 10pt !important;
}

.breadcrumb-item[href] {
  color: var(--color-primary) !important;
}

#custom-nav-dropdown {
  position: fixed;
  background-color: var(--color-body-background);
  top: 0;
  transform: translateY(30%);
  z-index: 1;
}

.nowrap {
  white-space: nowrap !important;
}

.breadcrumb {
  margin-bottom: 0 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--color-darker-gray) !important;
}

.breadcrumb-item {
  font-size: 11pt !important;
}

.hover-underline:hover {
  text-decoration: underline !important;
}

.text-justify {
  text-align: justify !important;
}

.sidebar {
  max-height: calc(100vh - 75.7) !important;
  height: 100%;
  border-right: 1px solid var(--color-light-gray);
  padding-top: 120.7px;
}

.monitoring-page-content-wrapper {
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.monitoring-content-wrapper {
  width: 100%;
  overflow: auto;
  padding-left: var(--sidebar-width);
  min-height: 90vh;
}

#sidebar {
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--sidebar-background);
  border-right: 1px solid var(--color-light-contrast);
  transition: all 0.3s;
  padding-top: 1.5rem;
  padding-bottom: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 855px) {
  #sidebar {
    position: fixed !important;
    z-index: 9999 !important;
  }
}

.nav-item.active,
.nav-item.active .nav-link,
.nav-item:hover,
.nav-item:hover .nav-link {
  color: var(--color-text) !important;
}

.nav-item:hover,
.nav-item.active {
  background-color: var(--nav-link-hover-background) !important;
}

.sidebar-link-group {
  padding-bottom: 1.85rem;
}

#sidebar .nav-item .nav-link {
  width: 100%;
  padding-top: 0.42rem;
  padding-bottom: 0.42rem;
  color: var(--color-text-lighter);
}

.__json-pretty__ {
  color: var(--color-text) !important;
  background: var(--color-body-background) !important;
}
