.searchBarWrapper {
    border-radius: 2rem !important;
    border: 1px solid var(--color-darker-gray);
    position: relative;
}

.searchBarWrapper:hover,
.searchBarWrapper:focus-within {
    border: 1px solid #a0a0a0
}

.searchBarWrapper #searchBar,
.searchBarWrapper span {
    border: none !important;
    background-color: transparent !important;
    text-wrap: wrap;
}
.searchBarWrapper #searchBar{
    padding: .75rem 0rem !important;
}

.searchBarWrapper span:first-child {
    padding-left: 1.3rem;
}