.searchBarWrapper {
    border-radius: 2rem !important;
    position: relative;
    background-color: #ecedef !important;
}

.searchBarWrapper:hover {
    background-color: #dadce0 !important;
}

.searchBarWrapper #searchBar,
.searchBarWrapper span {
    border: none !important;
    background-color: transparent !important;
    text-wrap: wrap;
}
.searchBarWrapper #searchBar{
    padding: .75rem 0rem !important;
}