.filtersWrapper {
    max-width: 350px;
    padding: 1rem;
    max-height: 80vh;
    overflow: auto;
}

.filterCountBadge {
    border-radius: 50%;
    min-width: 25px;
    padding: 0 .4rem;
    height: 25px;
    background-color: var(--color-light-gray);
    font-size: 9.5pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizeGroupSeparators{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sizeGroupSeparator {
    width: 1px;
    height: 10px;
    background: black;
  }